.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
  /* Important part */
.modal-dialog{
  overflow-y: initial !important;
  /*background-color: white !important; */
}

.modal-body{
  max-height: 600px;
  overflow-y: auto;
  
}
.navbar {
  padding-left: 0px;
}
.navbar-right li a {
    text-align: right;
}
.custom {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
.table td, .table th {  
  vertical-align: middle;
  border-top: none !important;
  padding: 5px !important; 
}

button.xp {
  white-space:normal !important;
  width:100%;
}

.edit-input{
  display: none;  
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  

  display: flex;
  align-items: center;
}

.watchword{
  margin: 0px;
  margin-top: -15px;
  color: #979797;
}

@media (max-width: 768px) {
    .btnS {
      font-size:8px;
      padding:4px 6px;
    }
  }
       
@media (min-width: 768px) {
    .btnS {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
 @media (min-width: 992px) {
    .btnS {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
@media (min-width: 1200px) {
    .btnS {
      padding:10px 16px;
      font-size:18px;
    }
 }

 