
.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}


.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}
.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
  /* Important part */
.modal-dialog{
  overflow-y: initial !important;
  /*background-color: white !important; */
}

.modal-body{
  height: 400px;
  overflow-y: auto;
  
}

.navbar-right li a {
    text-align: right;
}

tr {
   line-height: 15px;
   min-height: 15px;
   height: 15px;
}
.table td, .table th {
  vertical-align: middle;
 
}
button.xp {
  white-space:normal !important;
  width:100%;
}

@media (max-width: 768px) {
    .btnS {
      font-size:8px;
      padding:4px 6px;
    }
  }
       
@media (min-width: 768px) {
    .btnS {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
 @media (min-width: 992px) {
    .btnS {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
@media (min-width: 1200px) {
    .btnS {
      padding:10px 16px;
      font-size:18px;
    }
 }

 